prefix=PREFIX_HERE
token=TOKEN_HERE
botlog=CHANNEL_ID_FOR_LOG
reddit_subreddit=SUBREDDIT_NAME_GO_HERE
# View https://www.reddit.com/prefs/apps to see how to make bot application
reddit_bot_name=REDDIT_BOT_NAME
reddit_bot_id=REDDIT_BOT_CLIENT_ID
reddit_bot_secret=REDDIT_BOT_SECRET
reddit_username=REDDIT_USERNAME
reddit_password=REDDIT_PASSWORD
db_type=FLAT  # Either MySQL or Flat (or just leave empty for Flat SQLite)
